body {
    margin: 0;
    padding: 0;
    /* background-color: #717171; */
    width: 150px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: none; */
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    text-align: center;
    width: 80%;
}


.text {
    text-align: center;
}

.bad-response {
    color: red;
}

.menu-list {
    padding: 20px;
    margin: 0px;
}

.display_none {
    display: none;
}

/*
.heading {
    color: #fa9a10;
    margin: 0;
}

.input {
    padding: 5px;
    width: 90%;
    border: 1px solid #ca8015;
}

.input:focus {
    border-width: 2px;
    outline: none;
}

#text {
    color: #fa9a10;
    font-size: 1.1em;
}

.btn,
.input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    background:linear-gradient(to bottom, #f89f20 5%, #ca8015 100%);
    box-shadow: inset 0px 1px 0px 0px #cf8112;
    background-color:#fa9a10;
    color: #717171;
    border-radius:3px;
    border:1px solid #d08923;
    text-shadow:0px 1px 0px #e08c12; 
    box-sizing: border-box;
}

.btn {
    width: 65% ;
    cursor: pointer;
    border: none;
	font-size: 1.1em;
	padding: 6px 1em;
	text-decoration: none;
}

.btn:hover {
	background:linear-gradient(to bottom, #ca8015 5%, #f89f20 100%);
	background-color:#ed9a22;
}

.btn:active {
	position:relative;
	top:1px;
}

.home {
    display: inline-block;
    background-size: 24px;
    background-image: url("/home.png");
    height: 24px;
    width: 24px;

} */

