body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 190px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
}

.heading {
  text-align: center;
  color: rgba(48, 180, 184, 0.85);
}

.heading_size_md {
  font-size: 1.3em;
}

.heading_size_lg {
  font-size: 1.7em;
}

.btn {
  cursor: pointer;
  background: none;
  text-decoration: none;
  border: 1px solid rgba(48, 180, 184, 0.85);
  border-radius: 3px;
  text-align: center;
  display: block;
  color: rgba(48, 180, 184, 0.85);
  font-weight: 600;
}

.btn_mg_5 {
  margin: 5px;
}

.btn:hover {
  background-color: rgba(48, 180, 184, 0.85);
  color: #FFFFFF;
}

.btn_pd_3 {
  padding: 3px;
}

.input {
  border-radius: 3px;
  border: 1px solid #DCDCDC;
}

.input:focus {
  border-color: #DCDCDC;
  outline: 0;
  -webkit-box-shadow: 0 0 1px 2px rgba(48, 180, 184, 0.85);
          box-shadow: 0 0 1px 2px rgba(48, 180, 184, 0.85);
}

.input_invalid {
  border-color: red;
}

.warning-text {
  color: red;
  font-size: 0.9em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.display_none {
  display: none;
}

.home__btn {
  width: 70%;
}

.newOrder__input {
  margin: 10px 5px 15px;
  padding: 5px;
}

.newOrder__btn {
  width: 70%;
}

.connect__input {
  margin: 10px 5px 15px;
  padding: 5px;
}

.connect__btn {
  width: 70%;
}

.menu__text {
  color: rgba(48, 180, 184, 0.85);
}

.menu__text-success {
  color: rgba(48, 180, 184, 0.85);
  text-align: center;
}

.menu__text-success::after {
  content: ' \2713';
}

.menu__text-error {
  color: red;
  text-align: center;
}

.menu__text-error::after {
  content: '\26A0';
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__orders-container {
  width: 90%;
}

.menu__list {
  margin: 0;
  padding-left: 5px;
}

.confirmation {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.confirmation__btn {
  margin: 10px 5px;
  padding: 3px;
  min-width: 45px;
}

.confirm__exit {
  color: rgba(48, 180, 184, 0.85);
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: 1.3em;
  cursor: pointer;
}

.confirm__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.confirmation__window {
  position: relative;
  border: 1px solid rgba(48, 180, 184, 0.85);
  border-radius: 3px;
  margin: auto;
  width: 90%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.lds-ellipsis_display_none {
  display: none;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(48, 180, 184, 0.85);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=styles.css.map */