body {
  margin: 0;
  padding: 0;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 200px;
  width: 190px;
  font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
  width: 100%;
  min-height: 70%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 5px;
  text-align: center;
  width: 80%;
  border-radius: 3px;
  border: 2px solid #dcdcdc;
  padding: 5px;
}

.input_invalid {
  border: 1px solid red;
}

.newOrderInput {
  margin-bottom: 25px;  
}

.text {
  text-align: center;
}

.show-order__user:hover {   
}

.text_color_red {
  color: red;
}

.bad-response {
  color: red;
}

.menu-list {
  padding-right: 0px;
  margin: 0px;
}

.heading {
  text-align: center;
  margin: 5px;

}

.confirmation {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.confirm__exit {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1.3em;
  cursor: pointer;
}

.confirm__btns-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.confirmation__window {
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  margin: auto;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  /* flex: 1; */
}

.response-container {
  width: 90%;
  margin: 0 auto;
}

/*Btn*/
.btn {
  text-align: center;
  max-width: 80%;
  margin: 5px 0;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	cursor: pointer;
	color: black;
	font-weight:bold;
	padding: 5px 8px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color: #dfdfdf;
}
.btn:active {
	position: relative;
	top: 1px;
}


/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dfdfdf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.display_none {
  display: none;
}
