<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css"> -->
  <!-- <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="popup.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body>
  <main>
    <div id="app"></div>
  </main>
  
  <script src="popup.js"></script>
</body>
</html>
