// $color1: #f5f5f5;
// $color2: #6658f3;
// $color3: white;
// $color4: #8a8f93;

//new color version

//default color for fonts
$main-font-color: #2d3b48;

//background color for step-items
$color1: #f5f5f5;
// $color1: #c3cfd9;

//buttons and other texts, scroll
$color2: #6658f3;

//used for secondary text, locked steps 
$color3: #7b8a98;

//border-color
$color4: #c6d2db;

$white: white;

//error color 
$error: red;